<div class="abilities-holder">
  <div class="container">
    <div class="jumbotron" style="width: 35vw; left: 50%; margin-left: 25%;">
      <h1>Abilities</h1>
      <hr class="my-m4">
      <h4>"Learning how to learn is life's most important skill."</h4>
      <h5>~ Tony Buzan.</h5>
    </div>
  </div>

  <div class="container abilities-content" style="text-align: left; font-size: 12px;">
    <hr class="my-m4">

    <div class="row">
      <div class="col-md-6">

        <div  style="margin-left: 5%;">
          <h1 >Skills</h1>
        </div>

        <div class="class-list" style="margin-left: 5%;">

          <div class="row align-items-center">


            <div class="col-md-6" style="padding-top: 5vh; margin-bottom: -10px; margin-top: -10px;">
              <h5 style="color: black;">Python</h5>
            </div>
            <div class="col-md-6" style="padding-top: 6vh; margin-bottom: -10px; margin-top: -10px;">
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star-empty"></i>
            </div>

            <div class="col-md-6" style="display: block; padding-top: 5vh; margin-bottom: -10px; margin-top: -10px;">
              <h5 style="color: black;">SQL</h5>
            </div>
            <div class="col-md-6" style="display: block; padding-top: 6vh; margin-bottom: -10px; margin-top: -10px;">
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star-empty"></i>
            </div>

            <div class="col-md-6" style="display: block; padding-top: 5vh; margin-bottom: -10px; margin-top: -10px;">
              <h5 style="color: black;">PyTorch</h5>
            </div>
            <div class="col-md-6" style="display: block; padding-top: 6vh; margin-bottom: -10px; margin-top: -10px;">
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star-empty"></i>
              <i class="icon-star-empty"></i>
            </div>

            <div class="col-md-6" style="display: block; padding-top: 5vh; margin-bottom: -10px; margin-top: -10px;">
              <h5 style="color: black;">R</h5>
            </div>
            <div class="col-md-6" style="display: block; padding-top: 6vh; margin-bottom: -10px; margin-top: -10px;">
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star-empty"></i>
              <i class="icon-star-empty"></i>
            </div>

            <div class="col-md-6" style="display: block; padding-top: 5vh; margin-bottom: -10px; margin-top: -10px;">
              <h5 style="color: black;">C++</h5>
            </div>
            <div class="col-md-6" style="display: block; padding-top: 6vh; margin-bottom: -10px; margin-top: -10px;">
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star-empty"></i>
              <i class="icon-star-empty"></i>
            </div>

            <div class="col-md-6" style="display: block; padding-top: 5vh; margin-bottom: -10px; margin-top: -10px;">
              <h5 style="color: black;">Java</h5>
            </div>
            <div class="col-md-6" style="display: block; padding-top: 6vh; margin-bottom: -10px; margin-top: -10px;">
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star-empty"></i>
              <i class="icon-star-empty"></i>
            </div>

            <div class="col-md-6" style="display: block; padding-top: 5vh; margin-bottom: -10px; margin-top: -10px;">
              <h5 style="color: black;">HTML</h5>
            </div>
            <div class="col-md-6" style="display: block; padding-top: 6vh; margin-bottom: -10px; margin-top: -10px;">
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star-empty"></i>
              <i class="icon-star-empty"></i>
            </div>

            <div class="col-md-6" style="display: block; padding-top: 5vh; margin-bottom: -10px; margin-top: -10px;">
              <h5 style="color: black;">CSS</h5>
            </div>
            <div class="col-md-6" style="display: block; padding-top: 6vh; margin-bottom: -10px; margin-top: -10px;">
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star-empty"></i>
              <i class="icon-star-empty"></i>
            </div>

            <div class="col-md-6" style="display: block; padding-top: 5vh; margin-bottom: -10px; margin-top: -10px;">
              <h5 style="color: black;">Flask</h5>
            </div>
            <div class="col-md-6" style="display: block; padding-top: 6vh; margin-bottom: -10px; margin-top: -10px;">
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star-empty"></i>
              <i class="icon-star-empty"></i>
            </div>


            <div class="col-md-6" style="display: block; padding-top: 5vh; margin-bottom: -10px; margin-top: -10px;">
              <h5 style="color: black;">C</h5>
            </div>
            <div class="col-md-6" style="display: block; padding-top: 6vh; margin-bottom: -10px; margin-top: -10px;">
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star-empty"></i>
              <i class="icon-star-empty"></i>
              <i class="icon-star-empty"></i>
            </div>

            <div class="col-md-6" style="display: block; padding-top: 5vh; margin-bottom: -10px; margin-top: -10px;">
              <h5 style="color: black;">Spark</h5>
            </div>
            <div class="col-md-6" style="display: block; padding-top: 6vh; margin-bottom: -10px; margin-top: -10px;">
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star-empty"></i>
              <i class="icon-star-empty"></i>
              <i class="icon-star-empty"></i>
            </div>

            <div class="col-md-6" style="display: block; padding-top: 5vh; margin-bottom: -10px; margin-top: -10px;">
              <h5 style="color: black;">Tensorflow</h5>
            </div>
            <div class="col-md-6" style="display: block; padding-top: 6vh; margin-bottom: -10px; margin-top: -10px;">
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star-empty"></i>
              <i class="icon-star-empty"></i>
              <i class="icon-star-empty"></i>
            </div>



          </div>
        </div>
      </div>

      <div class="col-md-6">
          <div  style="margin-left: 5%;">
            <h1 >Tools</h1>
          </div>

          <div class="class-list"  style="margin-left: 5%;">


            <div class="row align-items-center">

              <div class="col-md-6" style="display: block; padding-top: 5vh; margin-bottom: -10px; margin-top: -10px;">
                <h5 style="color: black;">Windows</h5>
              </div>
              <div class="col-md-6" style="display: block; padding-top: 6vh; margin-bottom: -10px; margin-top: -10px;">
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
              </div>

              <div class="col-md-6" style="display: block; padding-top: 5vh; margin-bottom: -10px; margin-top: -10px;">
                <h5 style="color: black;">Unix</h5>
              </div>
              <div class="col-md-6" style="display: block; padding-top: 6vh; margin-bottom: -10px; margin-top: -10px;">
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star-empty"></i>
              </div>
              <div class="col-md-6" style="display: block; padding-top: 5vh; margin-bottom: -10px; margin-top: -10px;">
                <h5 style="color: black;">Atom</h5>
              </div>
              <div class="col-md-6" style="display: block; padding-top: 6vh; margin-bottom: -10px; margin-top: -10px;">
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star-empty"></i>
              </div>


              <div class="col-md-6" style="display: block; padding-top: 5vh; margin-bottom: -10px; margin-top: -10px;">
                <h5 style="color: black;">Scikit-learn</h5>
              </div>
              <div class="col-md-6" style="display: block; padding-top: 6vh; margin-bottom: -10px; margin-top: -10px;">
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star-empty"></i>
                <i class="icon-star-empty"></i>
              </div>


              <div class="col-md-6" style="display: block; padding-top: 5vh; margin-bottom: -10px; margin-top: -10px;">
                <h5 style="color: black;">Blender</h5>
              </div>
              <div class="col-md-6" style="display: block; padding-top: 6vh; margin-bottom: -10px; margin-top: -10px;">
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star-empty"></i>
                <i class="icon-star-empty"></i>
              </div>

              <div class="col-md-6" style="display: block; padding-top: 5vh; margin-bottom: -10px; margin-top: -10px;">
                <h5 style="color: black;">Git</h5>
              </div>
              <div class="col-md-6" style="display: block; padding-top: 6vh; margin-bottom: -10px; margin-top: -10px;">
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star-empty"></i>
                <i class="icon-star-empty"></i>
              </div>

              <div class="col-md-6" style="display: block; padding-top: 5vh; margin-bottom: -10px; margin-top: -10px;">
                <h5 style="color: black;">Microsoft Azure Cloud</h5>
              </div>
              <div class="col-md-6" style="display: block; padding-top: 6vh; margin-bottom: -10px; margin-top: -10px;">
                <i class="icon-star"></i>
                <i class="icon-star"></i>
                <i class="icon-star-empty"></i>
                <i class="icon-star-empty"></i>
                <i class="icon-star-empty"></i>
              </div>
            </div>

          </div>
      </div>
    </div>

    <div style="margin-top: 5%;margin-left: 2.5%;">
      <h1 >Languages</h1>
    </div>


    <div class="class-list"  style="margin-left: 2.5%;">

      <div class="row align-items-center">

        <div class="col-md-6" style="display: block; padding-top: 5vh; margin-bottom: -10px; margin-top: -10px;">
          <h5 style="color: black;">Arabic (Mother tongue)</h5>
        </div>
        <div class="col-md-6" style="display: block; padding-top: 6vh; margin-bottom: -10px; margin-top: -10px;">
          <i class="icon-star"></i>
          <i class="icon-star"></i>
          <i class="icon-star"></i>
          <i class="icon-star"></i>
          <i class="icon-star"></i>
        </div>

        <div class="col-md-6" style="display: block; padding-top: 5vh; margin-bottom: -10px; margin-top: -10px;">
          <h5 style="color: black;">French (Bilingual)</h5>
        </div>
        <div class="col-md-6" style="display: block; padding-top: 6vh; margin-bottom: -10px; margin-top: -10px;">
          <i class="icon-star"></i>
          <i class="icon-star"></i>
          <i class="icon-star"></i>
          <i class="icon-star"></i>
          <i class="icon-star"></i>
        </div>

        <div class="col-md-6" style="display: block; padding-top: 5vh; margin-bottom: -10px; margin-top: -10px;">
          <h5 style="color: black;">English (Fluent)</h5>
        </div>
        <div class="col-md-6" style="display: block; padding-top: 6vh; margin-bottom: -10px; margin-top: -10px;">
          <i class="icon-star"></i>
          <i class="icon-star"></i>
          <i class="icon-star"></i>
          <i class="icon-star"></i>
          <i class="icon-star-empty"></i>
        </div>

        <div class="col-md-6" style="display: block; padding-top: 5vh; margin-bottom: -10px; margin-top: -10px;">
          <h5 style="color: black;">German (Beginner)</h5>
        </div>
        <div class="col-md-6" style="display: block; padding-top: 6vh; margin-bottom: -10px; margin-top: -10px;">
          <i class="icon-star"></i>
          <i class="icon-star-empty"></i>
          <i class="icon-star-empty"></i>
          <i class="icon-star-empty"></i>
          <i class="icon-star-empty"></i>
        </div>

      </div>
    </div>


  </div>

</div>
