<div class="contact-holder">
  <div class="container">
    <div class="contact-head" style="text-align: center;height: auto; width: 42vw;">
      <div class="jumbotron">
        <h1 class="display-4" style="color: white;"><b>Contacts</b></h1>
        <hr class="my-4" style="color: white;">
        <h4 style="color: white;">“Be well, do good work, and keep in touch.”</h4>
        <h5 style="color: white;">~ Garrison Keillor</h5>
      </div>

      <div class="container" style="height: auto; width: 60vw;color:white;margin-left: -8vw;margin-top: 5vh;">

        <hr class="my-m4" style="color: white; width: 50%; margin: auto; margin-top: 5vh; margin-bottom: 5vh;">

        <div class="row align-items-center" style="text-align: left; margin-left: 30%;">
            <i class="icon-linkedin-sign contact-links"><a class="contact-links" href="https://fr.linkedin.com/in/nour-soubat">https://fr.linkedin.com/in/nour-soubat</a></i>
<p></p>
            <i class="icon-github-sign contact-links"><a class="contact-links" href="https://www.github.com/Qnouro">https://www.github.com/Qnouro</a></i>
<p></p>
            <i class="icon-envelope-alt contact-links"><a class="contact-links" href="mailto:nour.soubat@gmail.com">nour.soubat@gmail.com</a></i>

        </div>


        <hr class="my-m4" style="color: white; width: 50%; margin: auto; margin-top: 5vh; margin-bottom: 5vh;">


                <div class="row align-items-center" style="margin-bottom: -10vh;">
                  <p>Website made by myself using Flask and python.</p>
                  <a class="contact-links" href="http://www.pascalvangemert.nl" target="_blank"><p>Inspired by: http://www.pascalvangemert.nl</p></a>
                </div>

      </div>

    </div>

  </div>

</div>
