<div class="experience-holder bg-exp" style="">

    <div class="container" style="height: auto;">
      <div class="experience-head" style="height: auto; width: 42vw;">
        <div class="jumbotron" style="height: auto; text-align: center">
          <h1 class="display-4" style="color: white"><b>Experience</b></h1>
          <hr class="my-4" style="color: white;">
          <h4  style="color: white;">“When we strive to become better than we are, everything around us becomes better too.”</h4>
          <h5 style="color: white;">~ Paulo Coelho</h5>
        </div>
      </div>

    </div>


    <div class="container experience-content" style="height: auto; text-align: justify;">

      <div class="dark-glass">


            <!-- <hr class="my-4" style="color: white;"> -->

            <div class="">
              <h1 style="color: white; margin-top: 3%;">Education</h1>
            </div>

            <div class="row align-items-left">

                <div class="col-md-5" style="display: block; padding-top: 5vh;">
                  <h3 style="color: white;">Université Grenoble Alpes</h3>
                  <h6 style="color: white">Data Science</h6>
                  <h6 style="color: white">2019 - 2020</h6>
                  <i class="icon-home" style="color: white;"> Grenoble - France</i>
                </div>
                <div class="bottom-align-text col-md-7" style="display: block; padding-top: 6vh;">
                  <h5 style="color: white; text-align: justify">Studied Data Science covering machine learning and deep learning techniques, OCR, data visualization, data management and high performance computing. The curriculum focused on theory as well as practice through several projects.</h5>
                </div>

            </div>

            <div class="row align-items-left">

                <div class="col-md-5" style="display: block; padding-top: 5vh;">
                  <h3 style="color: white;">Grenoble-INP Ensimag</h3>
                  <h6 style="color: white">Computer Science specialized in applied mathematics.</h6>
                  <h6 style="color: white">2017 - 2020</h6>
                  <i class="icon-home" style="color: white;"> Grenoble - France</i>

                </div>
                <div class="bottom-align-text col-md-7" style="display: block; padding-top: 6vh;">
                  <h5 style="color: white">Generalist digital engineering school going through different computer science and mathematics concepts included but not limited to coding, algorithmics and data structures, advanced statistics, information theory and language theory. This knowledge was further reinforced through several projects such as a Deca compiler (Java), a sea wave visual simulation (C++) or DNA sequence matching (C).</h5>
                </div>

            </div>


            <div class="row align-items-left">

                <div class="col-md-5" style="display: block; padding-top: 5vh;">
                  <h3 style="color: white;">Al Khansaa & Ibn Taimia</h3>
                  <h6 style="color: white; white-space: nowrap;">Preparatory classes MPSI/MP*</h6>
                  <h6 style="color: white">2015 - 2017</h6>
                  <i class="icon-home" style="color: white;"> Casablanca - Morocco</i><br>
                  <i class="icon-home" style="color: white;"> Marrakech - Morocco</i>


                </div>
                <div class="bottom-align-text col-md-7" style="display: block; padding-top: 6vh;">
                  <h5 style="color: white">Intensive training in mathematics, physics, chemistry and engineering, giving a solid basis in these subjects. The 2 years training also goes through litterary subjects, mainly french, english and arabic. Moved to one of the 3 public star classes in Morocco after my first year for a more intensive training.</h5>
                </div>

            </div>

            <hr class="my-4" style="color: white">


            <div class="">
              <h1 style="color: white">Experience</h1>
            </div>

            <div class="row align-items-left">

                <div class="col-md-5" style="display: block; padding-top: 5vh;">
                  <h3 style="color: white;">Data Scientist - intern</h3>
                  <h4 style="color: white">Amadeus</h4>
                  <h6 style="color: white">Mar 2020 - Aug 2020</h6>
                  <hr class="my-m4" style="color: white; width: 50%; margin: auto; margin-top:10%; margin-bottom: 10%">
                  <h6 style="color: white; text-align: left;"><b>Tools</b>: Python, PyTorch, Microsoft Azure, Django, Git, Unix.</h6>

                </div>
                <div class="bottom-align-text col-md-7" style="display: block; padding-top: 6vh;">
                  <h5 style="color: white">Innovation internship in the domain of machine learning, deep learning and computer vision. Consisted on exploring and implementing ways to exploit the visual data - images - of hotels in order to create added value from it. Suggested 5 proofs of concepts and implemented, improved and automated 4 of them. These were grouped into an invention suggestion with a clearly defined business case, and was published as a defensive publication.</h5>
                </div>

            </div>

            <div class="row align-items-left">

                <div class="col-md-5" style="display: block; padding-top: 5vh;">
                  <h3 style="color: white;">Engineer - intern</h3>
                  <h4 style="color: white">Anatoscope</h4>
                  <h6 style="color: white">May 2019 - Aug 2019</h6>
                  <hr class="my-m4" style="color: white; width: 50%; margin: auto; margin-top:10%; margin-bottom: 10%">
                  <h6 style="color: white; text-align: left;"><b>Tools</b>: Python, Blender, Docker, C++, Git, Unix.</h6>
                </div>
                <div class="bottom-align-text col-md-7" style="display: block; padding-top: 6vh;">
                  <h5 style="color: white">Internship consisting on generating massive human anatomy image datasets in order to train tracking and deep learning algorithms. The script took user input and generated the desired amount of images and human characteristics. A C.I. on gitlab process was also added from scratch to the project to complete it.</h5>
                </div>

            </div>

      </div>


    </div>


</div>
