<div class="profile-holder">
      <div class="container container-profile-head" >
          <div class="profile-head">
            <div class="jumbotron">
                <h1 class="display-4"><b>Profile</b></h1>
                <hr class="my-4">
                <h5>Digital Engineer specialized in Data Science</h5>
            </div>
          </div>
      </div>

      <div class="container">
        <div class="profile-content">
          <div class="row align-items-center">
            <div class="col-md-3">
              <div class="avatar"></div>
            </div>
            <div class="col-md-9">
              <h3>About me</h3>
              <div class="col-profile-content" style="text-align: justify;">
                <hr class="dashed">
              <div style="padding-left: 3%; padding-right: 2%;">

                <span><b>Name</b>: Nour Soubat</span><br>
                <span><b>Age</b>: 23 Years.</span><br>
                <p><b>Location</b>: Sophia-Antipolis, France.</p>
                <p>Freshly graduated computer science student, I'm passionate about
                mathematics, technology and data. This allows me to be able to work
                from A to Z on data science projects thanks to my ML and coding skills.
                I focus on objectives, but also stand for quality. I'm continuously trying to learn,
                and I'm looking forward to grow expertise in the data science field.

               </p>
             </div>

              </div>


            </div>
          </div>
        </div>
      </div>

</div>
