<div class="projects-holder bg-projects" style="color: white; height: auto;">
  <div class="container" >
      <div class="project-header">
          <div class="jumbotron" style="width: 35vw; left: 50%; margin-left: 25%; text-align: center;">
            <h1 style="color: white">Projects</h1>
            <hr class="my-m4">
            <h4>“I feel like every project I work on is a dream project, so long as I am learning.”</h4>
            <h5>~ Simeon Kondev</h5>
          </div>
      </div>

      <!-- Project listing -->
      <div class="project-listing" style="margin: auto; margin-top: 10%; width: 50vw; color: black; text-align: center;">
        <div class="dark-glass" style="color: white;">

              <div class="row", style="padding-top: 2%; padding-left: 2%; padding-right: 2%;">
                <div class="col-md-6" style="margin-top: 10%; margin-bottom: 10%;">
                  <h3 style="color: white;">Bot Dylan</h3>
                  <h6 style="color: white; text-align: justify">Trained recurrent neural networks on google colaboratory in order to generate song lyrics based on an artist's style. The data was scraped using the Genius Api and publicly available books.</h6>
                  <hr class="my-m4" style="color: white; margin-left: 15%; margin-right: 15%;">
                  <h6 style="color: white; font-weight: normal; text-align: justify;"><b>Tools:</b> Python - PyTorch - Pandas - Genius API - Google Colab (GPU).</h6>

                </div>

                <div class="col-md-6" style="margin-top: 10%; margin-bottom: 10%;">
                  <a href="https://github.com/LeicaSimile/botdylan" target="_blank"><p class="project-image" style="background-image: url('/static/music.jpg'); color: white;"></p></a>

                </div>
              </div>

              <hr class="my-m4" style="color: white; width: 50%; margin: auto;">

              <div class="row", style="padding-top: 2%; padding-left: 2%; padding-right: 2%;">
                <div class="col-md-6" style="margin-top: 10%; margin-bottom: 10%;">
                  <a href="https://github.com/Qnouro/Gdelt-World-Events-Visualization" target="_blank"><p class="project-image" style="background-image: url('/static/gdelt.gif'); color: white;"></p></a>

                </div>

                <div class="col-md-6" style="margin-top: 10%; margin-bottom: 10%;">
                  <h3 style="color: white;">World Events Visualization</h3>
                  <h6 style="color: white; text-align: justify;">Created a data pipeline from the Gdelt project that automatically updates a responsive world map with the associated news sources. The map is restarted every day.</h6>
                  <hr class="my-m4" style="color: white; margin-left: 15%; margin-right: 15%;">
                  <h6 style="color: white; font-weight: normal; text-align: justify;"><b>Tools:</b> Python - Pandas - SQL - D3.js.</h6>

                </div>
              </div>


              <!-- Leaf classifier -->

              <hr class="my-m4" style="color: white; width: 50%; margin: auto;">

              <div class="row", style="padding-top: 2%; padding-left: 2%; padding-right: 2%;">
                <div class="col-md-6" style="margin-top: 10%; margin-bottom: 10%;">
                  <h3 style="color: white;">Leaf Classifier</h3>
                  <h6 style="color: white; text-align: justify;">Trained a leaf classification model to determine the family of a leaf based on a grayscale image. The data was manually scraped from PlantMethods and cleaned using grabcut and U-net (Convolutional Neural Network).</h6>
                  <hr class="my-m4" style="color: white; margin-left: 15%; margin-right: 15%;">
                  <h6 style="color: white; font-weight: normal; text-align: justify;"><b>Tools:</b> Python - PyTorch - Pandas - OpenCV - Google Colab (GPU).</h6>

                </div>

                <div class="col-md-6" style="margin-top: 10%; margin-bottom: 10%;">
                    <a href="https://github.com/Qnouro/LeafClassifier" target="_blank"><p class="project-image" style="background-image: url('/static/leaf.jpg'); color: white;"></p></a>
                </div>
              </div>


              <!-- hackathon -->
              <hr class="my-m4" style="color: white; width: 50%; margin: auto;">

              <div class="row", style="padding-top: 2%; padding-left: 2%; padding-right: 2%;">
                <div class="col-md-6" style="margin-top: 10%; margin-bottom: 10%;">
                    <a href="https://github.com/Qnouro/UnleashTheGeek" target="_blank"><p class="project-image" style="background-image: url('/static/hackathon.jpg'); color: white;"></p></a>
                </div>
                <div class="col-md-6" style="margin-top: 10%; margin-bottom: 10%;">
                  <h3 style="color: white;">Hackathon - Unleash The Geek</h3>
                  <h6 style="color: white; text-align: justify;">Online bot programming hackathon. Ranking is determined through consecutive 1v1 matches. The winner of a match has to locate and mine minerals while sabotaging the opponent by using traps.</h6>
                  <h6 style="color: white; text-align: justify;">Ranked 169 / 2166.</h6>
                  <hr class="my-m4" style="color: white; margin-left: 15%; margin-right: 15%;">
                  <h6 style="color: white; font-weight: normal; text-align: justify;"><b>Tools:</b> Python.</h6>

                </div>
              </div>
              <div style="color: white; margin-bottom: 2%; font-size: 48px;">
                <i class="icon-github-sign contact-links"><a class="contact-links" href="https://www.github.com/Qnouro" target="_blank" style="padding-left:1%;">And much more...</a></i>

              </div>

        </div>


      </div>

  </div>
</div>
